<%- include('includes/head.ejs', {title: "Homepage"}) %>
<%- include('includes/navbar.ejs') %>
</head>
<body>
    <div class="container">
        <p class="h1">Halaman Homepage</p>
    </div>
</body>
</html>